<!--loads login page-->
<div class="Login page">
  <div class="syntax worked">
    <div class="login">
      <h2 class="text-center">Login</h2>
      <form action="/login" method="POST">
        <div class="forms">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-3">Login</button>
      </form>
    </div>
  </div>
</div>
