<!--attaching head handlebar and nav-->
{{> head}}

{{> nav}}

<main role="main" class="testing classes">
  <div class="container">
    <!-- Main content handlebar -->
    {{{body}}}
  </div>
</main>

{{> footer}}